@model CommunityNotifier.Api.Models.SightingsListViewModel2

    <title>Pokemon Go - Sighting Västerås</title>

<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date();
        $(".date").each(function () {
            var date = new Date(this.textContent);
            this.textContent = date.toLocaleString();
            var diff =now.getTime() - date.getTime();
            this.innerHTML += "<span class='red'> " + Math.round(diff / 60000) + " min sedan</span>";
        });

    });
</script>

<div class="row">
    <div class="col-lg-6">
        <div class="alert alert-info">
            <p>På denna sida så rapporterar du in sightings</p>
            <p>Vad är då en sighting?</p>
            <p>
                På cykelbanan framför dig så ligger det en riktig bjässe till Snorlax.
                Givetvis vill du att alla ska få reda på att Snorlax finns just här,
                Då är det bara att fylla i formuläret till höger och skicka in.
                Vips så syns din sighting i listan.
                
                I framtiden så kommer alla som har Sightings Västerås Appen (Under utveckling) att få en notis i telefonen när en sigting rapporteras in.
            </p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <h2>Rapporter</h2>
        
        @if (!Model.Sightings.Any())
        {
            <div class="alert alert-warning">
                <p>Inga färska rapporter finns.</p>
            </div>
        }
        @foreach (var sighting in Model.Sightings)
        {
            <div class="report">
                <p>
                    <b>Pokemon:</b>
                </p>
                <p>@sighting.PokemonName</p>
                <p>
                    <b>Inrapporterad:</b>
                </p>
                <p class="date">@sighting.ReportTime UTC</p>
                <p>
                    <b>Vart:</b>
                </p>
                <p><span>@sighting.Area.AreaName</span> - <span>@sighting.Locaiton</span></p>
            </div>
            <hr/>
        }
    </div>
    <div class="col-lg-5">
        <h2>Rapportera in</h2>
        <div class="well">

            <hr/>
            @using (@Html.BeginForm("AddReport", "Home", FormMethod.Post))
            {<div class="form-group">
                 <label >Pokemon:</label>
                 <select class="form-control" name="pokemon">
                     @if (Model.Pokemons != null)
                     {
                         foreach (var pkmn in Model.Pokemons)
                         {
                             <option value=@(pkmn.Number)>@pkmn.Name</option>
                         }
                     }
}
                 </select>
             </div>
                <div class="form-group">
                    <label>Område:</label>
                    <select class="form-control" name="areaId">
                        @foreach (var area in Model.Areas)
                        {
                            <option value=@(area.Id)>@area.AreaName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Plats:</label>
                    <input type="text" name="location" class="form-control" id="location">
                </div>
                <div class="form-group">
                    <label for="deviceId">Appnyckel:</label>
                    <input type="text" name="deviceId" class="form-control" id="deviceId">
                </div>

                <input class="btn btn-success" type="submit" value="Skicka rapport!"/>
            }
        </div>
    </div>
</div>