@model ComminityNotifier.Api.Models.SightingsListViewModel

    <title>Pokemon Go - Sighting Västerås</title>

    <script type="text/javascript">
        $(document).ready(function () {
            var now = new Date();
            $(".date").each(function () {
                var date = new Date(this.textContent);
                this.textContent = date.toLocaleString();
                var diff =now.getTime() - date.getTime();
                this.innerHTML += "<span class='red'> " + Math.round(diff / 60000) + " min sedan</span>";
            });

        });
    </script>


<div class="row">
    <div class="col-lg-7">
        <h2>Rapporter</h2>
        
        @if (!Model.Sightings.Any())
        {
            <div class="alert alert-warning">
                <p>Inga färska rapporter finns.</p>
            </div>
        }
        @foreach (var sighting in Model.Sightings)
        {
            <div class="report">
                <p>
                    <b>Pokemon:</b>
                </p>
                <p>@sighting.PokemonName</p>
                <p>
                    <b>Inrapporterad:</b>
                </p>
                <p class="date">@sighting.ReportTime UTC</p>
                <p>
                    <b>Vart:</b>
                </p>
                <p><span>@sighting.Area</span> - <span>@sighting.Locaiton</span></p>
            </div>
            <hr/>
        }
    </div>
    <div class="col-lg-5">
        <h2>Rapportera in</h2>
        <div class="well">

            <hr/>
            @using (@Html.BeginForm("AddReport", "Home", FormMethod.Post))
            {<div class="form-group">
                 <label >Pokemon:</label>
                 <select class="form-control" name="pokemon">
                     @foreach (var pkmn in Model.Pokemons)
                     {
                         <option value=@((int) pkmn)>@pkmn</option>
                     }
                 </select>
             </div>
                <div class="form-group">
                    <label>Område:</label>
                    <select class="form-control" name="area">
                        @foreach (var area in Model.Areas)
                        {
                            <option value=@((int) area)>@area</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Plats:</label>
                    <input type="text" name="location" class="form-control" id="location">
                </div>

                <input class="btn btn-success" type="submit" value="Skicka rapport!"/>
            }
        </div>
    </div>
</div>